[class*="col-"] {
    margin-bottom: 5px;
}

/* REGOLE BOX */
.box {
    width: 100%;
    height: 50px;
    padding: 3px;
    background-color: aquamarine;
    border: 1px dashed black;
}

.box.nested {
    height: 30px;    
    border: 1px solid white;
    background-color: plum;
}